@charset "UTF-8";
/* roboto-regular - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-v30-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v30-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v30-latin-regular.woff2") format("woff2"), url("../fonts/roboto-v30-latin-regular.woff") format("woff"), url("../fonts/roboto-v30-latin-regular.ttf") format("truetype"), url("../fonts/roboto-v30-latin-regular.svg#Roboto") format("svg"); /* Legacy iOS */
}
/* roboto-500 - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/roboto-v30-latin-500.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v30-latin-500.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v30-latin-500.woff2") format("woff2"), url("../fonts/roboto-v30-latin-500.woff") format("woff"), url("../fonts/roboto-v30-latin-500.ttf") format("truetype"), url("../fonts/roboto-v30-latin-500.svg#Roboto") format("svg"); /* Legacy iOS */
}
/* roboto-700 - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/roboto-v30-latin-700.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v30-latin-700.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v30-latin-700.woff2") format("woff2"), url("../fonts/roboto-v30-latin-700.woff") format("woff"), url("../fonts/roboto-v30-latin-700.ttf") format("truetype"), url("../fonts/roboto-v30-latin-700.svg#Roboto") format("svg"); /* Legacy iOS */
}
/* roboto-900 - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/roboto-v30-latin-900.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v30-latin-900.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v30-latin-900.woff2") format("woff2"), url("../fonts/roboto-v30-latin-900.woff") format("woff"), url("../fonts/roboto-v30-latin-900.ttf") format("truetype"), url("../fonts/roboto-v30-latin-900.svg#Roboto") format("svg"); /* Legacy iOS */
}
/* raleway-regular - latin */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/raleway-v28-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/raleway-v28-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/raleway-v28-latin-regular.woff2") format("woff2"), url("../fonts/raleway-v28-latin-regular.woff") format("woff"), url("../fonts/raleway-v28-latin-regular.ttf") format("truetype"), url("../fonts/raleway-v28-latin-regular.svg#Raleway") format("svg"); /* Legacy iOS */
}
/* raleway-700 - latin */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/raleway-v28-latin-700.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/raleway-v28-latin-700.eot?#iefix") format("embedded-opentype"), url("../fonts/raleway-v28-latin-700.woff2") format("woff2"), url("../fonts/raleway-v28-latin-700.woff") format("woff"), url("../fonts/raleway-v28-latin-700.ttf") format("truetype"), url("../fonts/raleway-v28-latin-700.svg#Raleway") format("svg"); /* Legacy iOS */
}
:root {
  /* Главный цвет текста */
  --color-main-text: #212121;
  /* Второстепенный цвет текста */
  --color-secondary-text: #757575;
  /* Цвет темы сайта */
  --color-theme: #2196F3;
  /* Цвет при наведении кнопки intro */
  --color-btn-hover: #188CE8;
  /* Эффект при наведении */
  --anim-link: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /* Fonts */
  --font-general: "Roboto", sans-serif;
  --font-add: "Raleway", sans-serif;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

p, li, ul, ol {
  margin: 0;
  padding: 0;
}

input {
  border: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: var(--color-main-text);
  margin: 0;
}
body.no-scroll {
  overflow: hidden;
}

.list {
  list-style: none;
}

.link-style {
  line-height: 1.7;
  text-decoration: none;
  -webkit-transition: color var(--anim-link);
  transition: color var(--anim-link);
}

.link-style:hover {
  color: var(--color-theme);
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: black;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
}
@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
  }
}
.logo__part {
  color: var(--color-theme);
}

.btn {
  font-size: 16px;
  border: none;
  border-radius: 4px;
  line-height: 1.8;
  letter-spacing: 0.06em;
  cursor: pointer;
  font-family: inherit;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 480px;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.width-website {
  max-width: 1600px;
  margin: 0 auto;
}

.backdrop {
  position: fixed;
  visibility: visible;
  pointer-events: initial;
  opacity: 1;
  z-index: 1000;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.25);
  overflow-y: scroll;
}
.backdrop.is-hidden {
  visibility: hidden;
  pointer-events: none;
  opacity: 0;
}

.modal {
  width: 100%;
  height: 100%;
}
.modal__inner {
  height: auto;
  background-color: #fff;
  border-radius: 4px;
  -webkit-box-shadow: 0 3px 3px rgba(117, 117, 117, 0.5450980392);
          box-shadow: 0 3px 3px rgba(117, 117, 117, 0.5450980392);
  width: 95%;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
@media screen and (min-width: 480px) and (max-width: 1199px) {
  .modal__inner {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .modal__inner {
    width: 528px;
  }
}
.modal__btn-close {
  position: absolute;
  top: 8px;
  right: 8px;
  background: none;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: fill var(--anim-link);
  transition: fill var(--anim-link);
}
.modal__btn-close:hover .modal__icon-close {
  fill: var(--color-theme);
}

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 24px;
  background-color: rgba(33, 149, 243, 0.9098039216);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform var(--anim-link);
  transition: -webkit-transform var(--anim-link);
  transition: transform var(--anim-link);
  transition: transform var(--anim-link), -webkit-transform var(--anim-link);
}
.overlay__text {
  font-size: 18px;
  line-height: 1.5;
  color: #fff;
}

.section-title {
  font-weight: bold;
  text-align: center;
  font-size: 28px;
}
@media screen and (min-width: 1200px) {
  .section-title {
    font-size: 36px;
  }
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 10px;
  width: 206px;
}
.social__item {
  width: 44px;
}
.social__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  -webkit-transition: background-color var(--anim-link);
  transition: background-color var(--anim-link);
}
.social__link:hover {
  background-color: var(--color-theme);
}
.social__nav-mobile {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.social__item-mobile {
  font-size: 18px;
  color: rgba(33, 33, 33, 0.2039215686);
  margin-bottom: 5px;
}
.social__link-mobile {
  font-weight: medium;
  color: var(--color-theme);
  text-decoration: none;
}
.social__link-mobile:hover, .social__link-mobile:focus {
  color: var(--color-secondary-text);
}
.social__span {
  margin: 0 10px;
}

.contacts__icone {
  fill: currentColor;
  margin-right: 10px;
}
@media screen and (min-width: 768px) {
  .contacts__item:last-child {
    margin: 0;
  }
}
@media screen and (max-width: 767px) {
  .contacts__item {
    margin-bottom: 32px;
  }
}
.contacts__address {
  line-height: 1.7;
  font-style: normal;
  color: white;
}
@media screen and (max-width: 369px) {
  .contacts__link.phone {
    font-size: 24px;
    color: var(--color-theme);
  }
  .contacts__link.email {
    font-size: 20px;
  }
}
@media screen and (min-width: 370px) and (max-width: 767px) {
  .contacts__link.phone {
    font-size: 34px;
    color: var(--color-theme);
  }
  .contacts__link.email {
    font-size: 24px;
  }
}

.feedback {
  padding: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.feedback__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  width: 100%;
}
.feedback__group {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  margin-bottom: 10px;
  margin-top: 18px;
  position: relative;
}
.feedback__group:first-of-type {
  margin-top: 30px;
}
.feedback__group:last-of-type {
  margin-bottom: 30px;
  margin-top: 0;
}
.feedback__label {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: var(--color-secondary-text);
  margin-bottom: 4px;
  position: absolute;
  top: -18px;
  left: 0;
}
.feedback__field {
  height: 40px;
  padding-left: 40px;
  padding-right: 12px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  outline: transparent;
  -webkit-transition: border-color var(--anim-link);
  transition: border-color var(--anim-link);
}
.feedback__field:focus {
  border-color: var(--color-theme);
}
.feedback__field:focus + .feedback__icon-field {
  fill: var(--color-theme);
}
.feedback__icon-field {
  fill: var(--color-main-text);
  position: absolute;
  top: 50%;
  left: 12px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: fill var(--anim-link);
  transition: fill var(--anim-link);
}
.feedback__textarea {
  height: 120px;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  resize: none;
  padding: 12px 16px;
  outline: transparent;
  -webkit-transition: border-color var(--anim-link);
  transition: border-color var(--anim-link);
}
.feedback__textarea:focus {
  border-color: var(--color-theme);
}
.feedback__textarea::-webkit-input-placeholder {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: rgba(117, 117, 117, 0.5019607843);
}
.feedback__textarea::-moz-placeholder {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: rgba(117, 117, 117, 0.5019607843);
}
.feedback__textarea:-ms-input-placeholder {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: rgba(117, 117, 117, 0.5019607843);
}
.feedback__textarea::-ms-input-placeholder {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: rgba(117, 117, 117, 0.5019607843);
}
.feedback__textarea::placeholder {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: rgba(117, 117, 117, 0.5019607843);
}
.feedback__checkbox-custom {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 16px;
  height: 15px;
  outline: 2px solid var(--color-main-text);
  outline-offset: -2px;
  border-radius: 3px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
  cursor: pointer;
}
@media screen and (min-width: 1200px) {
  .feedback__checkbox-custom {
    left: 15px;
  }
}
.feedback__checkbox-icon {
  fill: #fff;
}
.feedback__checkbox:focus + .feedback__checkbox-custom {
  outline-color: var(--color-theme);
}
.feedback__checkbox:checked + .feedback__checkbox-custom {
  background-color: var(--color-theme);
  outline-color: var(--color-theme);
}
.feedback__label-checkbox {
  padding-left: 23px;
  text-align: center;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--color-secondary-text);
  cursor: pointer;
  font-size: 12px;
}
@media screen and (min-width: 1200px) {
  .feedback__label-checkbox {
    padding-left: 23px;
    font-size: 14px;
  }
}
.feedback__btn {
  width: 200px;
  height: 50px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--color-theme);
  color: #fff;
  font-weight: 700;
}

.agree-link {
  color: var(--color-theme);
  -webkit-transition: color var(--anim-link);
  transition: color var(--anim-link);
}

.agree-link:hover {
  color: var(--color-btn-hover);
}

.header {
  border-bottom: 1px solid #ECECEC;
}
.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 767px) {
  .header__inner {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.nav {
  margin-left: 93px;
}
@media (max-width: 767px) {
  .nav {
    display: none;
  }
}
.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 767px) {
  .nav__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media screen and (min-width: 768px) {
  .nav__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.nav__item {
  margin-right: 50px;
}
.nav__item:last-child {
  margin: 0;
}
.nav__link {
  color: var(--color-main-text);
  padding: 33px 0;
  font-size: 40px;
}
@media screen and (min-width: 768px) {
  .nav__link {
    position: relative;
    font-size: 14px;
  }
}
.nav__link.current-link {
  color: var(--color-theme);
}
.nav__link.current-link::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--color-theme);
}
@media screen and (max-width: 767px) {
  .nav__link.current-link::after {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .nav__link.current-link::after {
    bottom: 5px;
  }
}
.nav__mobile-box {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 2000;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform var(--anim-link);
  transition: -webkit-transform var(--anim-link);
  transition: transform var(--anim-link);
  transition: transform var(--anim-link), -webkit-transform var(--anim-link);
  background-color: #fff;
  padding: 48px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow-y: scroll;
}
@media screen and (min-width: 768px) {
  .nav__mobile-box {
    display: none;
  }
}
.nav__mobile-box.is-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
.nav__mobile-box .nav__menu-toggle {
  position: absolute;
  top: 10px;
  right: 15px;
}
.nav__menu-toggle {
  background: none;
  border: none;
  width: 40px;
  height: 40px;
}
.nav__menu-toggle:hover, .nav__menu-toggle:focus .nav__toggle-open {
  fill: var(--color-theme);
}

@media screen and (min-width: 768px) {
  .js-open-menu {
    display: none;
  }
}

.header__address {
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 767px) {
  .header__address {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header__address {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

@media screen and (min-width: 1200px) {
  .contacts__item--right {
    margin-right: 50px;
  }
}

.contacts__link--header {
  color: var(--color-secondary-text);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 500;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 768px) {
  .contacts__link--header {
    padding: 5px 0;
  }
}
@media screen and (min-width: 1200px) {
  .contacts__link--header {
    padding: 32px 0;
  }
}

.intro {
  background-color: #2F303A;
  padding: 118px 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url(../images/intro/intro_mob.jpg);
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .intro {
    background-image: url(../images/intro/intro_mob@2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .intro {
    background-image: url(../images/intro/intro_tab.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .intro {
    background-image: url(../images/intro/intro_tab@2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .intro {
    background-image: url(../images/intro/intro_desk.jpg);
    padding: 200px 0;
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .intro {
    background-image: url(../images/intro/intro_desk@2x.jpg);
  }
}
.intro__inner {
  text-align: center;
}
.intro__title-box {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
}
.intro__title {
  font-size: 26px;
  line-height: 1.3;
  font-weight: 700;
  text-transform: uppercase;
  width: 650px;
  text-align: center;
  color: white;
}
@media screen and (min-width: 768px) {
  .intro__title {
    font-size: 28px;
  }
}
@media screen and (min-width: 1200px) {
  .intro__title {
    font-size: 44px;
  }
}
.intro__btn {
  color: white;
  font-weight: bold;
  background-color: var(--color-theme);
  padding: 10px 32px;
  -webkit-transition: background-color var(--anim-link);
  transition: background-color var(--anim-link);
}
.intro__btn:hover {
  background-color: var(--color-btn-hover);
}

.esplly {
  padding: 60px 0;
}
@media screen and (min-width: 1200px) {
  .esplly {
    padding: 94px 0;
  }
}
@media screen and (min-width: 768px) {
  .esplly__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}
@media screen and (min-width: 768px) {
  .esplly__item {
    width: calc((100% - 60px) / 2);
    margin: 15px;
  }
}
@media screen and (min-width: 1200px) {
  .esplly__item {
    width: calc((100% - 120px) / 4);
  }
}
@media screen and (max-width: 767px) {
  .esplly__item:not(:last-child) {
    margin-bottom: 30px;
  }
}
.esplly__icon-box {
  width: 100%;
  height: 120px;
  background-color: #F5F4FA;
  text-align: center;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.esplly__title {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 10px;
}
@media screen and (max-width: 767px) {
  .esplly__title {
    text-align: center;
  }
}
.esplly__text {
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--color-secondary-text);
}

.about {
  padding-bottom: 94px;
}
@media screen and (max-width: 1199px) {
  .about {
    display: none;
  }
}
.about__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.about__item {
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
  position: relative;
}
.about__item:nth-child(3n) {
  margin-right: 0;
}
.about__title {
  margin-bottom: 40px;
}
.about__img {
  display: block;
}
.about__text-box {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.7568627451);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.about__text {
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
}

.team {
  background-color: #F5F4FA;
  padding: 60px 0;
}
@media screen and (min-width: 1200px) {
  .team {
    padding: 94px 0;
  }
}
.team__title {
  margin-bottom: 30px;
}
.team__list {
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .team__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}
.team__item {
  background-color: white;
  text-align: center;
  border-radius: 0 0 4px 4px;
  -webkit-box-shadow: 0 2px 2px #757575;
          box-shadow: 0 2px 2px #757575;
  margin-bottom: 10px;
}
@media screen and (min-width: 768px) {
  .team__item {
    width: calc((100% - 60px) / 2);
    margin: 15px;
  }
}
@media screen and (min-width: 1200px) {
  .team__item {
    width: calc((100% - 120px) / 4);
  }
}
@media screen and (max-width: 767px) {
  .team__item:not(:last-child) {
    margin-bottom: 30px;
  }
}
.team__info-box {
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.team__name {
  font-size: 16px;
  font-weight: 500;
  color: var(--color-main-text);
  margin-bottom: 10px;
  width: 100%;
}
.team__profes {
  font-size: 16px;
  color: var(--color-secondary-text);
  margin-bottom: 16px;
  width: 100%;
}

.social__icon--grey {
  fill: #AFB1B8;
  -webkit-transition: fill var(--anim-link);
  transition: fill var(--anim-link);
}

.social__link:hover .social__icon--grey {
  fill: #fff;
}

.clients {
  padding: 60px 0;
}
@media screen and (min-width: 1200px) {
  .clients {
    padding: 94px 0;
  }
}
.clients__title {
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .clients__title {
    margin-bottom: 50px;
  }
}
.clients__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -15px;
}
.clients__item {
  width: calc((100% - 60px) / 2);
  margin: 15px;
}
@media screen and (min-width: 768px) {
  .clients__item {
    width: calc((100% - 90px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .clients__item {
    width: calc((100% - 180px) / 6);
  }
}
.clients__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 210px;
  height: 92px;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  -webkit-transition: border-color var(--anim-link);
  transition: border-color var(--anim-link);
}
@media screen and (min-width: 768px) {
  .clients__link {
    width: 226px;
  }
}
@media screen and (min-width: 1200px) {
  .clients__link {
    width: 170px;
  }
}
.clients__icon {
  fill: #AFB1B8;
  -webkit-transition: fill var(--anim-link);
  transition: fill var(--anim-link);
}
.clients__link:hover {
  border-color: var(--color-theme);
}
.clients__link:hover .clients__icon {
  fill: var(--color-theme);
}

.portfolio {
  padding: 60px 0;
}
@media screen and (min-width: 768px) {
  .portfolio {
    padding: 94px 0;
  }
}
.portfolio__btn-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media screen and (min-width: 768px) {
  .portfolio__btn-list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.portfolio__btn-item {
  margin-bottom: 15px;
}
.portfolio__btn-item:not(:last-child) {
  margin-right: 4px;
}
.portfolio__item:first-child {
  margin-bottom: 20px;
}
.portfolio__btn {
  line-height: 1.6;
  color: var(--color-main-text);
  background-color: #F5F4FA;
  padding: 6px 22px;
  cursor: pointer;
  font-family: inherit;
  font-weight: 500;
  -webkit-transition-property: background-color, color, -webkit-box-shadow;
  transition-property: background-color, color, -webkit-box-shadow;
  transition-property: background-color, color, box-shadow;
  transition-property: background-color, color, box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: var(--anim-link);
          transition-timing-function: var(--anim-link);
}
.portfolio__btn:hover {
  background-color: var(--color-theme);
  color: #fff;
  -webkit-box-shadow: 0 3px 3px rgba(117, 117, 117, 0.5450980392);
          box-shadow: 0 3px 3px rgba(117, 117, 117, 0.5450980392);
}
.portfolio__btn.current-btn {
  background-color: var(--color-theme);
  color: #fff;
  -webkit-box-shadow: 0 3px 3px rgba(117, 117, 117, 0.5450980392);
          box-shadow: 0 3px 3px rgba(117, 117, 117, 0.5450980392);
}
@media screen and (min-width: 768px) {
  .portfolio__card-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}
.portfolio__card-item {
  margin-bottom: 30px;
  -webkit-transition: -webkit-box-shadow var(--anim-link);
  transition: -webkit-box-shadow var(--anim-link);
  transition: box-shadow var(--anim-link);
  transition: box-shadow var(--anim-link), -webkit-box-shadow var(--anim-link);
}
@media screen and (min-width: 768px) {
  .portfolio__card-item {
    margin: 15px;
    width: calc((100% - 60px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .portfolio__card-item {
    width: calc((100% - 90px) / 3);
  }
}
.portfolio__card-item:hover {
  -webkit-box-shadow: 1px 2px 4px 1px #AFB1B8;
          box-shadow: 1px 2px 4px 1px #AFB1B8;
  cursor: pointer;
}
.portfolio__img-box {
  width: 100%;
  position: relative;
  overflow: hidden;
}
.portfolio__img {
  width: 100%;
  height: auto;
  display: block;
}
.portfolio__card-item:hover .overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.portfolio__contant {
  border-bottom: 1px solid #EEEEEE;
  border-left: 1px solid #EEEEEE;
  border-right: 1px solid #EEEEEE;
  padding: 20px 24px;
}
.portfolio__titel {
  font-size: 18px;
  line-height: 2;
  font-weight: bold;
  margin-bottom: 4px;
}
.portfolio__text {
  font-size: 16px;
  line-height: 1.8;
  color: var(--color-secondary-text);
}

.footer {
  background-color: #2F303A;
  padding: 60px 0;
}
@media screen and (min-width: 768px) {
  .footer__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__item {
    width: 50%;
  }
}
@media screen and (max-width: 1199px) {
  .footer__item {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media screen and (max-width: 1199px) {
  .footer__item:not(:last-child) {
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__item:first-child {
    margin-right: 70px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__item:last-child {
    margin-left: auto;
  }
}
.footer__title-social {
  text-transform: uppercase;
  color: white;
  font-weight: bold;
  margin-bottom: 20px;
}

.logo--white {
  color: white;
  padding: 0;
}

.contacts--top {
  margin-top: 20px;
}

.contacts__item--bottom {
  margin-bottom: 9px;
}

.contacts__link--footer {
  font-style: normal;
  color: rgba(255, 255, 255, 0.6);
}

.social__icon--white {
  fill: #fff;
}

.social__link--grey {
  background-color: rgba(255, 255, 255, 0.1);
}

.social__link--grey:hover {
  background-color: var(--color-theme);
}

.subscribe {
  width: 100%;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .subscribe {
    width: 450px;
  }
}
@media screen and (max-width: 1199px) {
  .subscribe {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media screen and (min-width: 1200px) {
  .subscribe {
    width: 570px;
  }
}
.subscribe__group {
  width: 100%;
}
.subscribe__label {
  font-weight: bold;
  color: white;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  line-height: 1.15;
}
.subscribe__field {
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  height: 50px;
  width: 100%;
  padding: 0 16px;
  outline: transparent;
  color: #fff;
  -webkit-transition: border-color var(--anim-link);
  transition: border-color var(--anim-link);
}
@media screen and (max-width: 1199px) {
  .subscribe__field {
    margin: 20px 0;
  }
}
@media screen and (min-width: 1200px) {
  .subscribe__field {
    width: 358px;
    margin: 20px 8px 0 0;
  }
}
.subscribe__field:focus {
  border-color: var(--color-theme);
}
.subscribe__field::-webkit-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}
.subscribe__field::-moz-placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}
.subscribe__field:-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}
.subscribe__field::-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}
.subscribe__field::placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}
.subscribe__btn {
  background-color: var(--color-theme);
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  width: 200px;
  -webkit-transition: background-color var(--anim-link);
  transition: background-color var(--anim-link);
}
.subscribe__btn:hover {
  background-color: var(--color-btn-hover);
}
.subscribe__btn-text {
  color: white;
  font-weight: 700;
  margin-right: 10px;
}
.subscribe__btn-icon {
  fill: #fff;
}/*# sourceMappingURL=main.css.map */