.about {
    padding-bottom: 94px;

    &__list {
        display: flex;
        flex-wrap: wrap;
    }
    
    &__item {
        width: calc((100% - 60px) / 3);
        margin-right: 30px;
        position: relative;
    }
    
    &__item:nth-child(3n) {
        margin-right: 0;
    }
    
    &__title {
        margin-bottom: 40px;
    }
    
    &__img {
        display: block;
    }
    
    &__text-box {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 70px;
        background-color: #2f303ac1;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    &__text {
        font-weight: bold;
        text-transform: uppercase;
        color: #fff;
    }
}