.header {
    border-bottom: 1px solid #ECECEC;

    &__inner {
        display: flex;
        align-items: center;
    }
}

.nav {
    margin-left: 93px;

    &__list {
        display: flex;
        flex-wrap: wrap;
    }

    &__item {
        margin-right: 50px;
    }

    &__item:last-child {
        margin: 0;
    }

    &__link {
        color: var(--color-main-text);
        padding: 33px 0;
        position: relative;
    }
    
    &__link.current-link {
        color: var(--color-theme);
    }

    &__link.current-link::after {
        content: "";
        position: absolute;
        bottom: -5px;
        left: 0;
        width: 100%;
        height: 4px;
        border-radius: 2px;
        background-color: var(--color-theme);
    }
}

.header__address {
    margin-left: auto;
    display: flex;
    align-items: center;
}

.contacts__item--right {
    margin-right: 50px;
}

.contacts__link--header {
    color: var(--color-secondary-text);
    padding: 32px 0;
    display: flex;
    align-items: center;
    font-weight: 500;
}