.social {
    display: flex;
    flex-wrap: wrap;
    
    &__item {
        width: calc((100% - 30px) / 4); 
        margin-right: 10px;
    }
    
    &__item:nth-child(4n) {
        margin-right: 0;
    }
    
    &__link {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 44px;
        height: 44px;
        border-radius: 50%;
        transition: background-color var(--anim-link);
    }
    
    &__link:hover {
        background-color: var(--color-theme);
    }
}


