.social {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: 206px;

    &__item {
        width: 44px;   
    }
    
    &__link {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 44px;
        height: 44px;
        border-radius: 50%;
        transition: background-color var(--anim-link);
    }
    
    &__link:hover {
        background-color: var(--color-theme);
    }

    &__nav-mobile {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }

    &__item-mobile {
        font-size: 18px;
        color: #21212134;
        margin-bottom: 5px;
    }

    &__link-mobile {
      font-weight: medium;
      color: var(--color-theme); 
      text-decoration: none;
    }

    &__link-mobile:hover,
    &__link-mobile:focus {
        color: var(--color-secondary-text);
    }

    &__span {
        margin: 0 10px;
    }
}


